*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background: #f7f7f7;
    color: #333;
}
header{
    background:#222;
    color:#fff;
    padding: 20px;
    text-align: center;
}
nav a{
    color: #fff;
    margin: 0 13px;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
}
.hero button{
    background: white;
    color: #6e8efb;
    border:none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    
}
.features{
    display:flex;
    justify-content: space-around;
    padding: 50px 20px;
    
}
.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    text-align: center;
    
}
footer{
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}